html, body {
  box-sizing: border-box;
  background: gainsboro;
  /* text-align: center; */
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

ul li {
  list-style: none;
  font-weight: 600;
}

.state-header {
  display: flex;
  flex-direction: column;
}
